.background {
    background-color: aliceblue;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 10vh;
    /* height: 80vh; */
}

#middle-cart {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    gap: 20px;
    position: relative;
}

#items {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.items-product {
    display: flex;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    position: relative;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-top: 4px solid rgb(255, 61, 142);
}

.items-product>img {
    width: 100px;
}

.item-details {
    width: 60%;
    text-align: left;
}

.remove-item {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}
.qty-manage{
    width: 20%;
}

#total {
    width: 20%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    position: sticky;
    right: 2vw;
    top: 42vh;

}

#total h2 {
    color: rgb(255, 61, 142);
    
}

#total span {
    color: rgb(255, 61, 142);
}

#total button {
    background-color: rgb(28, 236, 166);
    padding: 10px 20px;
    border: none;
    color: aliceblue;
    font-size: medium;
}

#total button:hover {
    background-color: rgb(9, 166, 114);
    cursor: pointer;
}   